<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--====form section start====-->
<div class="user-detail">
    <h2>Create User Data</h2>
    <form action="/users/create" method="POST">
          <label>Full Name</label>
          <input type="text" placeholder="Enter Full Name" name="name" required><br>
          <label>Email Address</label>
          <input type="email" placeholder="Enter Email Address" name="email" required><br>
          <label>Phone</label>
          <input type="text" placeholder="Enter Phone number" name="phone" required><br>
          <label>Roll No</label>
          <input type="text" placeholder="Enter Roll No" name="id" required><br>
          <label>Password</label>
          <input type="password" placeholder="Enter password" name="password" required><br>
          <button type="submit">Submit</button>
        </div>
</div>
<div>
  <p>Back to login page</p>
    <button><a href="http://localhost:3000/login/form">Login</a></button>
</div>
</body>
</html>